*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: rgb(39, 39, 39);
    font-family: 'Courier New', Courier, monospace;
    background-image: linear-gradient(to bottom right, #ffffff, #000000);

}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}



